@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Font Poppins  */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer base {
    * {
        @apply transition-all ease-in-out duration-300;
    }

    body {
        @apply text-[16px] text-gray-800 font-roboto font-normal tracking-wide;
    }

    h1,h2,h3,h4,h5,h6 {
        @apply font-serif;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@layer components {
    /* Classes Button */
    .btn--shopnow {
        @apply  py-4 px-7 border border-primary-color rounded-md bg-primary-color text-white uppercase font-semibold
                hover:bg-transparent hover:text-primary-color;
    }

    .btn--addCart {
        @apply  w-full pt-2 pb-1.5 mt-0.5 flex items-center text-base justify-center gap-x-3 border border-primary-color rounded bg-primary-color text-white uppercase font-medium
                hover:bg-transparent hover:text-primary-color;
    }

    .btn--wishlist {
        @apply  w-full pt-2 pb-1.5 mt-0.5 flex items-center text-base justify-center gap-x-3 border border-primary-color rounded bg-white text-primary-color uppercase font-medium
                hover:bg-primary-color hover:text-white;
    }

    .btn--subscribe {
        @apply  px-2.5 py-2 text-[15.5px] border border-primary-color rounded-tr rounded-br bg-primary-color text-white uppercase font-medium
                hover:bg-transparent hover:text-primary-color;
    }

    .btn--search, .btn--heart {
        @apply   cursor-pointer w-11 h-11 text-xl flex items-center justify-center rounded-full bg-primary-color text-white 
                hover:bg-gray-800;
    }

    /* Classes Heading */
    .heading__2 {
        @apply  uppercase text-[28px] mb-6 font-roboto font-semibold text-gray-800;
    }

    .heading__3 {
        @apply  uppercase text-[20px] mt-4 mb-3 font-roboto font-semibold text-gray-800;
    }

    .heading__6 {
        @apply  uppercase text-[#2B2D42] font-semibold font-roboto text-lg;
    }

    /* Classes modified */
    .link__categories {
        @apply  absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center gap-x-0.5 text-white text-xl font-roboto-mono font-medium
                group-hover:gap-x-3 group-hover:bg-opacity-20 group-hover:text-gray-800;
    }

    .size-selector input:checked + label {
        @apply  bg-primary-color text-white border-primary-color;
    }

    .color-selector input:checked + label {
        @apply  ring-2 ring-primary-color ring-offset-2;
    }

    .pagination__link {
        @apply  w-8 h-8 border border-transparent rounded-sm text-gray-700 text-[15px] flex items-center justify-center cursor-pointer
                hover:bg-primary-color hover:text-white hover:border-primary-color;
    }

    .tag-discount {
        @apply  text-white text-[14px] relative py-1 px-1.5 bg-primary-color rounded-sm 
                before:absolute before:top-1/2 before:transform before:-translate-y-1/2 before:rotate-45 before:-left-1.5 before:w-[13px] before:h-[13px] before:bg-primary-color before:-z-10;
    }

    .tab__header-title {
        @apply  text-base cursor-pointer font-roboto font-semibold border border-b-0 rounded-md rounded-bl-none rounded-br-none border-gray-700 py-2 px-3.5;
    }

    .tab__header-title.active {
        @apply  border-primary-color text-primary-color;
    }

    .tab__body-content {
        @apply  absolute -top-[110%] opacity-0 mt-2 transform scale-75 transition-all ease-in-out duration-500;
    }

    .tab__body-content.active {
        @apply  opacity-100 top-0 scale-100 mt-6;
    }

    /* Select box */
    .select-box .option-container {
        @apply  absolute top-[107%] left-0 border border-gray-300 text-sm rounded-md shadow-custom w-full bg-white
                invisible;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .select-box .option-container.active {
        @apply  visible max-h-64 overflow-y-scroll transition-all duration-500;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .select-box .option-container::-webkit-scrollbar {
        @apply  w-[7px] bg-stone-300  rounded-lg;
    }

    .select-box .option-container::-webkit-scrollbar-thumb {
        @apply bg-primary-color rounded;
    }

    .select-box .option-container.active + .selected i {
        @apply  transform rotate-180 text-primary-color;
    }

    .select-box .option-container.active + .selected {
        @apply  bg-gray-100;
    }

    .select-box .option.select-option-item label {
        @apply  text-primary-color font-bold;
    }

    .select-box .option.select-option-item {
        @apply  bg-gray-100;
    }

    .select-box .option.select-option-item label {
        @apply  text-primary-color font-bold;
    }

    .select-box .option.select-option-item {
        @apply  bg-gray-100;
    }
}